:root {
    --cor_botao: #9353ff;
    --cor-verde: #daff01;
}

.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.bg-botao {
    background-color: var(--cor_botao);
}

.bg-botao:hover {
    background-color: var(--cor_botao);
}

.cor-verde {
    color: var(--cor-verde);
}
